<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>其他</title>
</head>
<body>
<ul>
    <li><a href="weather.html">天气</a></li>
    <li><a href="query.html">公交卡余额查询</a></li>
    <li><a href="questions.html">在线测试-问题</a></li>
    <li><a href="answers.html">在线测试-答案</a></li>
    <li><a href="share.html">分享页</a></li>
</ul>
</body>
</html>