<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天气</title>
    <!--<link href="../css/style.css" rel="stylesheet">-->
    <link href="../../css/min/style.css" rel="stylesheet">
</head>
<body>
<div class="weather">
    <div style="padding-bottom: 15px">周一 04月19日 农历三月二十（实时：17℃）</div>
    <div class="day">
        <a class="today" href="#">
            <img src="../../imgs/other/weather/icon-1.png">
            <div style="font-size: large;">20~13℃</div>
            <h5>多云</h5>
            <h5>南风微风</h5>
            <h5>实施空气质量：<span style="background: #4cc74c;">45 优</span></h5>
        </a>
        <a href="#">
            <h5>周二</h5>
            <h5>04月19号</h5>
            <img src="../../imgs/other/weather/icon-2.png">
            <h5>22~15℃</h5>
            <h5>多云</h5>
            <h5>南风微风</h5>
        </a>
        <a href="#">
            <h5>周三</h5>
            <h5>04月19号</h5>
            <img src="../../imgs/other/weather/icon-3.png">
            <h5>22~15℃</h5>
            <h5>多云</h5>
            <h5>南风微风</h5>
        </a>
        <a href="#">
            <h5>周四</h5>
            <h5>04月19号</h5>
            <img src="../../imgs/other/weather/icon-4.png">
            <h5>22~15℃</h5>
            <h5>多云</h5>
            <h5>南风微风</h5>
        </a>
        <a href="#">
            <h5>周五</h5>
            <h5>04月19号</h5>
            <img src="../../imgs/other/weather/icon-2.png">
            <h5>22~15℃</h5>
            <h5>多云</h5>
            <h5>南风微风</h5>
        </a>
    </div>
</div>
</body>
</html>