<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react</title>
</head>
<body>
<div id="hello"></div>
<script src="../../bower_components/react/react.min.js"></script>
<script src="../../bower_components/react/react-dom.min.js"></script>
<script src="../../bower_components/babel/browser.min.js"></script>
<script type="text/babel">
    var hello="hello react";
    ReactDOM.render(
            React.createElement("h1",null,"hello react"),
            document.getElementById("hello")
    );
</script>
</body>
</html>