<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>1.Node.js简介</h3>
        </div>
        <div class="panel-body">
            Node.js 是一个基于 Chrome V8 引擎的 JavaScript 运行环境。Node.js 使用了一个事件驱动、非阻塞式 I/O 的模型，使其轻量又高效。Node.js 的包管理器
            npm，是全球最大的开源库生态系统。
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>2.Node.js安装</h3>
        </div>
        <div class="panel-body">
            <h4>windows：</h4>
            <pre>1.官网<a href="https://nodejs.org/" target="_blank">https://nodejs.org/</a>点击下载安装包 双击安装
                <br>2.打开cmd输入：node -v  回车显示版本号
            </pre>
            <h4>linux(ubuntu为例)：</h4>
            <pre>
                <br>1.运行命令：
                <br>  sudo apt-get install nodejs
                <br>  sudo apt-get install npm
                <br>2.打开终端输入：node -v  回车显示版本号
                <p><span style="color: red">*</span> npm为node的包依赖管理工具</p>
            </pre>
            <h4>mac</h4>
            <pre>
                <br>XXX
            </pre>
        </div>
    </div>
</div>