<div class="navbar navbar-default" ng-controller="header_ctrl">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">kuo zi</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-repeat="item in items_right">
                <li ng-class="{active:root_state.match(item.state)}"><a ui-sref="{{item.state}}">{{item.name}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-repeat="item in items_left">
                <li ng-class="{active:root_state.match(item.state)}"><a ui-sref="{{item.state}}">{{item.name}}</a></li>
            </ul>
        </div>
    </div>
</div>